{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4 card p-4">
        <h4>Editar Registro</h4>
        <form method="POST">
            <div class="mb-3"><label>Mes</label><input type="text" name="month" class="form-control" value="{{ entrega.month }}"></div>
            <div class="mb-3"><label>Estatus</label><select name="status" class="form-select">
                <option value="Pendiente" {{'selected' if entrega.status=='Pendiente'}}>Pendiente</option>
                <option value="Revisado" {{'selected' if entrega.status=='Revisado'}}>Revisado</option>
            </select></div>
            <button type="submit" class="btn btn-primary w-100">Guardar</button>
        </form>
    </div>
</div>
{% endblock %}